@{
    ViewBag.WidgetName = "Pie Chart";
}

<dx-pie-chart type="Donut" inner-radius="0.2">
    <datasource controller="Northwind" load-action="SalesByCategory" />

    <title text="Sales by Category" />
    <size height="600" />

    <legend orientation="Horizontal"
            item-text-position="Right"
            horizontal-alignment="Center"
            vertical-alignment="Bottom"
            column-count="4" />

    <series argument-field="category" value-field="count">
        <label visible="true" position="PieChartLabelPosition.Inside" background-color="transparent" />
    </series>

    <series argument-field="category" value-field="sales">
        <label visible="true"
               format="Currency"
               position="PieChartLabelPosition.Columns"
               customize-text="customizeSalesLabel">
            <connector visible="true" width="0.5" />
            <font size="16" />
        </label>
    </series>

    <script>
        function customizeSalesLabel(arg) {
            return arg.valueText + " (" + arg.percentText + ")";
        }
    </script>
</dx-pie-chart>
